:root {
    --cream: #F2EAE2;
    --white: #FFF;
    --deep-aquamarine: #3D8168;
    --aurometal-saurus: #6C7289;
    --gunmetal: #1C232B;
    --font-family-main: 'Montserrat', sans-serif;
    --font-family-accent: 'Fraunces', serif;
    --line-height-main: 1.4375rem;
    --line-height-accent: 2rem;
    --font-size-1: 2rem;
    --font-size-2: 0.875rem;
    --font-size-3: 0.8125rem;
    --font-size-4: 0.75rem;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: var(--font-family-main);
    font-size: var(--font-size-2);
    font-weight: 500;
    line-height: var(--line-height-main);
    color: var(--aurometal-saurus);
    background-color: var(--cream);
}