@import './basic.css';

.card {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 11rem auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--white);
}

.card_content {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-150);
}

.card_tag {
    margin-bottom: var(--spacing-75);
    font-size: var(--font-size-4);
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
}

.card_title {
    margin-bottom: var(--spacing-100);
    font-family: var(--font-family-accent);
    font-size: var(--font-size-1);
    font-weight: 700;
    line-height: var(--line-height-accent);
    color: var(--gunmetal);
}

.card_description {
    margin-bottom: var(--spacing-150);
}

.card_price {
    display: flex;
    gap: var(--spacing-120);
    align-items: center;
    margin-bottom: var(--spacing-125);
}

.card_price-new {
    font-family: var(--font-family-accent);
    font-size: var(--font-size-1);
    font-weight: 700;
    line-height: var(--line-height-accent);
    color: var(--deep-aquamarine);
}

.card_price-old {
    text-decoration: line-through;
}

.card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-75);
    padding: var(--spacing-100);
    border-radius: 8px;
    color: var(--white);
    border: none;
    background-color: var(--deep-aquamarine);
    transition: background-color 250ms linear;
}

.card_button:hover,
.card_button:focus {
    background-color: var(--deep-aquamarine-hover);
}

@media screen and (min-width: 1440px) {
    .card {
        flex-direction: row;
        width: 600px;
    }

    .card_img {
        min-width: 300px;
    }

    .card_content {
        padding: var(--spacing-200);
    }

    .card_tag {
        margin-bottom: var(--spacing-125);
    }

    .card_title {
        margin-bottom: var(--spacing-150);
    }

    .card_description {
        margin-bottom: var(--spacing-180);
    }

    .card_price {
        margin-bottom: var(--spacing-180);
    }
}